/*-----------------------------------------------------Colours*/

.menu-color-definition {
    background-color: red;
}

.menu-color-legislation {
    background-color: orangered;
}

.menu-color-support {
    background-color: green;
}

.menu-color-contact {
    background-color: blue;
}

.support-employers {
    background-color: indigo;
}

.support-education {
    background-color: violet;
}

.support-general {
    background-color: white;
}

.nav-links {
    color: black;
}

div a {
    color: black;
}

/*------------------------------------------------------Images*/

.bg-image-header{
    background: url(../images/bg-image.jpg) center center/cover;
    background-blend-mode: darken;
}

.bg-color-header {
    background-color: #fafafa;
}

/*------------------------------------------------------Headings*/
 h1, h2, h3, h4, h5 {
    font-family: "Comfortaa", sans-serif;
 }

h1, h2 {
    color: #1ebbd7;
    background-color: grey;
}

/*----------------------------------------- media queries*/

@media screen and (max-width: 767px) {
    .bg-image-header {
            background-image: none;
        }
}
    
@media screen and (min-width: 768px){
    h2 {
        background-color: rgba(0, 0 , 0 , 0);
    }
}
