/*-----------------------------------------------------Colours*/

.menu-color-definition {
    background-color: red;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
}

.menu-color-legislation {
    background-color: orangered;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
}


.menu-color-support {
    background-color: green;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
}


.menu-color-contact {
    background-color: blue;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
}


.support-employers {
    background-color: indigo;
}

.support-education {
    background-color: violet;
}

.support-general {
    background-color: white;
}

.nav-links {
    color: black;
}

div a {
    color: black;
}


/*-------------------------------------------------------general*/

.support {
    margin: 20px 0px;
}
/* 
.def-leg {
    margin-top: 20px;
} */


/*------------------------------------------------------Images*/

.bg-image-header{
    background: url(../images/bg-image.jpg) center center/cover;
    background-blend-mode: darken;
}

.bg-color-header {
    background-color: #fafafa;
}

/* .protected-image {
    background: url(../images/protected-image.jpg) center center/cover;
    min-height: 100%;
    width: 100%;
} */
/*------------------------------------------------------Headings*/
 h1, h2, h3, h4, h5 {
    font-family: "Comfortaa", sans-serif;
 }

h1, h2 {
    color: #1ebbd7;
    background-color: grey;
    margin-bottom: 0px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*------------------------------------------links*/

a i {
    font-size: 25px;
    padding-right: 10px;
    text-align: center;
}



a span {
    font-size: 25px;
    text-align: center;
    margin: 5px;
    padding-left: 30px;
}



/*----------------------------------------- media queries*/

@media screen and (max-width: 767px) {
    .bg-image-header {
            background-image: none;
        }
}
    
@media screen and (min-width: 768px){
    h2 {
        background-color: rgba(0, 0 , 0 , 0);
    }
}
